
<!DOCTYPE html>
<html>
<head>
	<title>The First Shop</title>
	<!--for-mobile-apps-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--//for-mobile-apps-->
	
	<!-- Custom-Theme-Files -->
    <!-- Bootstrap-CSS --> 			<link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- JQuery --> 				<script src="js/jquery.min.js">			</script>
    <!-- Bootstrap-Main --> 		<script src="js/bootstrap.min.js">		</script>
    <!-- Index-Page-Styling --> 	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!-- Start-Smooth-Scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},2000);
            });
        });
    </script>
<!-- //End-Smooth-Scrolling -->

<link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
<script src="js/easyResponsiveTabs.js"></script>
	
</head>
<% if current_user.present? %>
 

<body>

<div class="header">
		
		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						   <!-- <a class="navbar-brand" href="/"><img src="./images/logo2.png" alt="logo"></a> -->
						  
							<!-- <h1 style="font-family: 'BlackOpsOne-Regular';color:#fff;text-align: center;">THE CORNER SHOP</h1> -->
							<a class="navbar-brand" rel="home" href="/" style="font-family: 'BlackOpsOne-Regular';color:#fff;">THE SHOP
									
							</a>
							 
						</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
						<ul class="nav navbar-nav navbar-right">
							<% b = BlockIo.get_address_balance :labels => current_user.username%>
							<li><%= link_to 'Homepage', root_path %></li>
							<li><%= link_to 'Products', root_path %></li>
							<li><%= link_to 'Deposit Funds', wallet_path %></li>
							<li><%= link_to b['data']['balances'][0]['available_balance']+'BTC', wallet_path %></li>
							<li><%= link_to 'FAQ', faq_path %></li>
							<li><%= link_to 'Contact us', contact_path %></li>
							<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
						</ul>

						<!-- <ul class="nav navbar-nav navbar-left">
							<li><a href="#home" class="active scroll" style="font-family: 'BlackOpsOne-Regular';color:#fff;">FIRST SHOP</a></li>
						</ul> -->
						
					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
		</div> <!-- Nav Ends -->
				
		/ <!-- Banner Ends Here -->
</div> <!-- Header Ends -->

	
<div class="about" id="about">	
	<div class="container">
	  
		<h3> Welcome to <span>The Corner Shop</span> </h3>
		<h4>Start Shopping below
		</h4>
		
		<div class="about-image">

			<li><%= link_to 'Opiates', opiates_path %></li>
			<li><%= link_to 'Synthetic Cannabinoids', synth_cannabinoids_path %></li>
			<li><%= link_to 'Cannabis', cannabis_path %></li>
			<li><%= link_to 'Cocaine', cocaines_path %></li>
			<li><%= link_to 'LSD', lsds_path %></li>
			<li><%= link_to 'MDMA', mdmas_path %></li>
			<li><%= link_to 'Misc', miscs_path %></li>
		
			
			<!-- <div class="col-md-4 about-size">
				<div class="shadow">
					<img src="./images/ai2.jpg" alt="image">
				</div>
				<h5>Drive in Game</h5>
				<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
					Lorem Ipsum available, but the majority have suffered alteration in some</p>
			
			</div>
			
			<div clas	s="col-md-4 about-size">
				<div class="shadow">
					<img src="./images/ai3.jpg" alt="image">
				</div>
				<h5>Shooting in Game</h5>
				<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
					Lorem Ipsum available, but the majority have suffered alteration in some</p>
			
			</div> -->
		  <div class="clearfix"> </div>
		</div>  <!-- About-image Ends  -->
		
	</div> <!-- Container ends -->
</div> <!-- About Ends -->


 
	</div> <!-- requirement Ends -->


<!-- <div class="upcoming" id="games">
	<div class="container">
		<div class="padding-upcoming">
			
			<h3> <span>  Clips</span> </h3>
				
			<div class="background shadow1">

				<div id="parentVerticalTab">

					<div class="col-md-7 trailer game-video">	
						<div class="resp-tabs-container hor_1">
												
							<div>
								<div class="category">
									<iframe  width="560" height="315" src="https://www.youtube.com/embed/3Q5zl-3BbkY" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div>
								<div class="category">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/lTG3J_3M_NM" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>	
							<div>
								<div class="category">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/rLYa0uA7OG0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						  <div class="clearfix"></div>
						</div>
					</div>
				
					
					<div class="col-md-5 trailer-text game-image">
						<ul class="resp-tabs-list hor_1">
							<li>
								<div class="sub-trailer">
									<div class="sub-img">
										<img src="images/up1.jpg" alt="img07"/>
									</div>
									<div class="sub-text">
										<h4>We could train you to shoot like John</h4>
										<p><p>Maybe not exactly like John, but noone messes with our dogs…</p></p>
									</div>
								  <div class="clearfix"> </div>
								</div>
							</li>
						
							<li>
								<div class="sub-trailer">
									<div class="sub-img">
										<img src="images/up2.jpg" alt="img07"/>
									</div>
									<div class="sub-text">
										<h4> Gun Dynamics </h4>
										<p><p>Do you know a good gun when you see one? care to know how they work?</p></p>
									</div>
								  <div class="clearfix"> </div>
								</div>
							</li>
						
							<li>
								<div class="sub-trailer">
									<div class="sub-img">
										<img src="images/up3.jpg" alt="img07"/>
									</div>
									<div class="sub-text">
										<h4>XM-806</h4>
										<p>12.7MM Lightweight Sub machine gun</p>
									</div>
								  <div class="clearfix"> </div>
								</div>
							</li>
						  <div class="clearfix"></div>	
						</ul>
					</div>	
			
				
	              <div class="clearfix"></div>			
				</div>

			</div>
		</div>
	</div>
</div> -->



<!--Plug-in Initialisation-->
	<script type="text/javascript">
    $(document).ready(function() {

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<!-- Up Coming Games Ends Here -->

 

	
	
<!-- <div class="contact" id="contact">
  <div class="container">
	<div class="padding-contact">
			
		<div class="col-md-4 address">
		  <h3>Address</h3>
			<address>
				Lorem Ipsum<br>
				HTML5 Buildings,<br>
				Doctorville,<br>
				Great Britain<br>
				(123) 456-7890<br>
				<span>Phone : +123 4567 8900</span>
			</address>
		</div>
			
		<div class="col-md-4 social-icons">
		  <h3>Follow Us</h3>
			<ul class="social">
				<li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
				<li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
				<li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
				<li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
				<li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
			</ul>
		</div>
			
		<div class="col-md-4 newsletter">
		  <h3>Newsletter</h3>
			<form>
				<input type="text" value="Enter Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your email';}">
				<input type="submit" value="Subscribe">
			</form>
		</div>
	  <div class="clearfix"></div>
	</div>
			
		<div class="footer">
			<p>© 2016 Combat Game. All Rights Reserved | Design by  <a href="https://w3layouts.com/" target="_blank"> w3layouts </a></p>
		</div>
  </div>
</div> -->
	
</body>


<%else%>
<body>
		<div class="header">
		
				<div class="nav">
					<nav class="navbar navbar-inverse navbar-fixed-top">
						<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								   <!-- <a class="navbar-brand" href="#"><img src="./images/logo2.png" alt="logo"></a> -->
								  
									<!-- <h1 style="font-family: 'BlackOpsOne-Regular';color:#fff;text-align: center;">FIRST SHOP</h1> -->
									<a class="navbar-brand" rel="home" href="/" style="font-family: 'BlackOpsOne-Regular';color:#fff;">THE SHOP
											
									</a>
									 
								</div>
		
						<!-- Collect the nav links, forms, and other content for toggling -->
						
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<ul class="nav navbar-nav navbar-right">
									<li><%= link_to 'Log in', new_user_session_path%></li>
									<li><%= link_to 'Sign Up', new_user_registration_path%></li>
									
								</ul>
		
								<!-- <ul class="nav navbar-nav navbar-left">
									<li><a href="#home" class="active scroll" style="font-family: 'BlackOpsOne-Regular';color:#fff;">FIRST SHOP</a></li>
								</ul> -->
								
							</div><!-- navbar-collapse -->
						</div><!-- container -->
					</nav>
				</div> <!-- Nav Ends -->
						
				<div class="banner" id="home">
					<div class="container">
						<div class="banner-content" style="">
							<div class="grid" style="width:100%;height: 100%;padding-left: 10%;margin-right: 10%;">
								<h1>THE CORNER SHOP</H1>
								<h2></h2>
								<h3><span>Your privacy is most important to us.</span></h3>
								<h2>Log in or Sign up to access the market.</h2>
							</div>
						</div>
					</div>
				</div> <!-- Banner Ends Here -->
		</div> <!-- Header Ends -->

		<!-- <div class="upcoming" id="games">
				<div class="container">
					<div class="padding-upcoming">
						
						<h3> <span>Clips</span> </h3>
							
						<div class="background shadow1">
			
							<div id="parentVerticalTab">
			
								<div class="col-md-7 trailer game-video">	
									<div class="resp-tabs-container hor_1">
															
										<div>
											<div class="category">
												<iframe  width="560" height="315" src="https://www.youtube.com/embed/3Q5zl-3BbkY" frameborder="0" allowfullscreen></iframe>
											</div>
										</div>
										<div>
											<div class="category">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/lTG3J_3M_NM" frameborder="0" allowfullscreen></iframe>
											</div>
										</div>	
										<div>
											<div class="category">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/rLYa0uA7OG0" frameborder="0" allowfullscreen></iframe>
											</div>
										</div>
									  <div class="clearfix"></div>
									</div>
								</div>
							
								
								<div class="col-md-5 trailer-text game-image">
									<ul class="resp-tabs-list hor_1">
										<li>
											<div class="sub-trailer">
												<div class="sub-img">
													<img src="images/up1.jpg" alt="img07"/>
												</div>
												<div class="sub-text">
													<h4>We could train you to shoot like John</h4>
													<p><p>Maybe not exactly like John, but noone messes with our dogs…</p></p>
												</div>
											  <div class="clearfix"> </div>
											</div>
										</li>
									
										<li>
											<div class="sub-trailer">
												<div class="sub-img">
													<img src="images/up2.jpg" alt="img07"/>
												</div>
												<div class="sub-text">
													<h4> Gun Dynamics </h4>
													<p><p>Do you know a good gun when you see one? care to know how they work?</p></p>
												</div>
											  <div class="clearfix"> </div>
											</div>
										</li>
									
										<li>
											<div class="sub-trailer">
												<div class="sub-img">
													<img src="images/up3.jpg" alt="img07"/>
												</div>
												<div class="sub-text">
													<h4>XM-806</h4>
													<p>12.7MM Lightweight Sub machine gun</p>
												</div>
											  <div class="clearfix"> </div>
											</div>
										</li>
									  <div class="clearfix"></div>	
									</ul>
								</div>	
						
							
							  <div class="clearfix"></div>			
							</div>
			
						</div>
					</div>
				</div>
			</div> -->
</body>

<%end%>
</html>